@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap");
:root {
  --text-color: #151B32;
  --about-text-border-color:#BFC8E6;
  --page-bg-color:#FFFFFF;
  --bg-color: #E6EAF8;
  --card-bg-color: #FBFCFF;
  --active-card-color: #BFC8E5;
  --active-btn-color:#849FFF;
  --about-text-color:#516FD4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper .contianer {
  background: var(--page-bg-color);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 75px;
  border-radius: 20px;
  position: relative;
}
.wrapper .contianer .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .contianer .head h1 {
  font-family: "Merriweather", serif;
  color: var(--text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.wrapper .contianer .head .menu {
  display: none;
  font-size: 30px;
}
.wrapper .contianer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
  gap: 20px;
  padding: 25px 0px 30px 0;
  box-sizing: border-box;
}
.wrapper .contianer nav .serach {
  display: flex;
  align-items: center;
}
.wrapper .contianer nav .serach input {
  position: absolute;
  padding: 15px 40px 15px 40px;
  color: var(--151-b-32, #151B32);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid var(--active-card-color);
  border-radius: 5px;
}
.wrapper .contianer nav .serach img {
  width: 30px;
  height: 30px;
  padding: 8px;
  position: absolute;
}
.wrapper .contianer nav .item {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.wrapper .contianer nav .item .item1 {
  padding: 16px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .contianer nav .item .item1:nth-child(2) {
  color: var(--page-bg-color);
  background: var(--active-btn-color);
  border-radius: 8px;
}
.wrapper .contianer nav .menu {
  display: none;
}
.wrapper .contianer .main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.wrapper .contianer .main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.wrapper .contianer .main .row .card {
  width: 327px;
  height: 250px;
  padding: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  background: var(--card-bg-color);
  cursor: pointer;
}
.wrapper .contianer .main .row .card .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper .contianer .main .row .card .info .item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapper .contianer .main .row .card .info .item-info .heading {
  color: var(--text-color);
  font-family: Merriweather;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.wrapper .contianer .main .row .card .info .item-info .text {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  word-wrap: break-word;
}
.wrapper .contianer .main .row .card .info .item-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.wrapper .contianer .main .row .card .info .item-link a {
  background: var();
  border: 1px solid var(--active-card-color);
  border-radius: 10px;
  padding: 2px 6px;
  color: var(--about-text-color);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .contianer .main .row .card2 {
  border-radius: 16px;
  border: 1px solid var(--active-card-color);
  background: var(--card-bg-color);
  box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.7);
}

@media all and (max-width: 400px) {
  .wrapper {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
  }
  .wrapper .contianer {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: var(--page-bg-color);
    flex-wrap: wrap;
  }
  .wrapper .contianer .head {
    width: 100%;
  }
  .wrapper .contianer .head h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
  }
  .wrapper .contianer .head .menu {
    display: block;
    font-size: 20px;
  }
  .wrapper .contianer nav {
    display: none;
  }
  .wrapper .contianer nav .menu {
    display: block;
  }
  .wrapper .contianer .main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrapper .contianer .main .row {
    display: flex;
    flex-direction: column;
  }
  .wrapper .contianer .main .row .card {
    width: 300px;
    height: 200px;
    box-sizing: content-box;
    padding: 0%;
    gap: 10px;
  }
  .wrapper .contianer .main .row .card img {
    width: 75px;
    height: 75px;
  }
  .wrapper .contianer .main .row .card .info {
    gap: 5px;
  }
  .wrapper .contianer .main .row .card .info .item-info .heading {
    color: var(--text-color);
    font-family: Merriweather;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .wrapper .contianer .main .row .card .info .item-info .text {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .wrapper .contianer .main .row .card .info .item-link {
    width: 150px;
    gap: 4px;
  }
  .wrapper .contianer .main .row .card .info .item-link a {
    background: var();
    border: 1px solid var(--active-card-color);
    border-radius: 10px;
    padding: 2px 6px;
    color: var(--about-text-color);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}/*# sourceMappingURL=style.css.map */