@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');

:root{
    --text-color: #151B32;
    --about-text-border-color:#BFC8E6;
    --page-bg-color:#FFFFFF;
    --bg-color: #E6EAF8;
    --card-bg-color: #FBFCFF;
    --active-card-color: #BFC8E5;
    --active-btn-color:#849FFF;
    --about-text-color:#516FD4;
}

// font-family: 'Poppins', sans-serif;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // container starts
    .contianer{
        background: var(--page-bg-color);
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 75px;
        border-radius: 20px;
        position: relative;
 
        .head{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{
                font-family: 'Merriweather', serif;
                color: var(--text-color);
                font-size: 32px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

            .menu{
                display: none;
                font-size: 30px;
            }
        }

        // nav start
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            align-self: stretch;
            gap: 20px;
            padding: 25px 0px 30px 0 ;
            box-sizing: border-box;
            
            // serach class start
            .serach{
                display: flex;
                align-items: center;

                input{
                    position: absolute;
                    padding: 15px 40px 15px 40px;
                    color: var(--151-b-32, #151B32);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;    
                    border: 1px solid var(--active-card-color);
                    border-radius: 5px;
                }
                img{
                    width: 30px;
                    height: 30px;
                    padding: 8px;
                    position: absolute;
                }
            }
            // serach class ends

            // item start
            .item{ 
                display: flex;
                justify-content: end;
                gap: 10px;

                // itemn1 class start
                .item1{
                    padding: 16px;
                    color: var(--text-color);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                // itemn1 class start

                // itemn1 child 2 class start
                .item1:nth-child(2){
                    color: var(--page-bg-color);
                    background: var(--active-btn-color);
                    border-radius: 8px;
                }
                // itemn1 child 2 class end
            }
            // item ends
            // menu start
            .menu{
                display: none;
            }
            // menu ends
        }
        // nav ends

        // main start
        .main{
            display: flex;
            justify-content: center;            
            flex-direction: column;
            gap: 20px;      

            // row start
            .row{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                // flex-wrap: wrap;
                gap: 16px;

                // card start
                .card{
                    width: 327px;
                    height: 250px;
                    padding: 24px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 20px;
                    box-sizing: border-box;
                    border-radius: 25px;
                    background: var(--card-bg-color);
                    cursor: pointer;

                    // info start
                    .info{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        // item-info start
                        .item-info{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            //heading start
                            .heading{
                                color:var(--text-color);
                                font-family: Merriweather;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                           }
                            //heading ends

                            // text start
                           .text{
                                color: var(--text-color);
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                word-wrap: break-word;
                           }
                           // text ends
                        }
                        // item-info end


                        // item-link start
                        .item-link{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 8px;

                            a{
                                background: var();
                                border: 1px solid var(--active-card-color);
                                border-radius: 10px;
                                padding: 2px 6px;

                                color: var(--about-text-color);
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                        // item-link end
                    }
                    // info ends
                }
                // card  ends
                
                .card2{
                    border-radius: 16px;
                    border: 1px solid var(--active-card-color);
                    background: var(--card-bg-color);
                    box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.70);
                }

                
            }
        }
        // main end
    }
    // contianer ends
}

@media all and (max-width: 400px) {
    //wrapper start
    .wrapper{
        min-height: 100vh;
        min-width: 100vw;
        overflow-x: hidden;     
        
        // contianer start
        .contianer{
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            background: var(--page-bg-color);
            flex-wrap: wrap;
            
            .head{
                width: 100%;
    
                h1{
                    font-size: 24px; 
                    font-weight: 900;
                    line-height: normal;
                }
    
                .menu{
                    display: block;
                    font-size: 20px;
                }
            }
    

            // nav start
            nav{
                display: none;

                .menu{
                    display: block;
                }
            }
            // nav ends

            // card start
            .main{
                height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;

                // row start
                .row{
                    display: flex;
                    flex-direction: column;

                    .card{
                        width: 300px;
                        height: 200px;
                        box-sizing: content-box;
                        padding: 0%;
                        gap: 10px;
                        // info start

                        img{
                            width: 75px;
                            height: 75px;
                        }

                    .info{
                        gap: 5px;

                        // item-info start
                        .item-info{                        

                            //heading start
                            .heading{
                                color:var(--text-color);
                                font-family: Merriweather;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                           }
                            //heading ends

                            // text start
                           .text{
                                color: var(--text-color);
                                font-family: Poppins;
                                font-size: 11px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                
                           }
                           // text ends
                        }
                        // item-info end


                        // item-link start
                        .item-link{
                            width: 150px;                           
                            gap: 4px;

                            a{
                                background: var();
                                border: 1px solid var(--active-card-color);
                                border-radius: 10px;
                                padding: 2px 6px;

                                color: var(--about-text-color);
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                        // item-link end
                    }

                    }
                }
            }
            // card ends
        }
        // cotnianer ends
   }
    //wrapper ends
}